h1{
	text-align: center;
}

.classes{
	margin: auto;
	/*width: 100%;*/
	margin-bottom: 5px;
}

#container{
	margin: auto;
	width: 20em;
}

#buttons{
	margin: auto;
	margin-top: 20px;
	width: 195px;
}

#GPA_show{
	height: 5em;
	width: 10em;
	margin: auto;
	margin-top: 10px;
	border: 4px solid black;
	border-radius: 40%;
}

#GPA_show p{
	text-align: center;
}